h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px; 
}

.BooksList li {
    padding: 4px;
    font-size: 20px;
}

.AddBook, .FindBook {
    padding: 10px 20px;
    margin-right: 10px;  
    margin-left: 20px;
    font-size: 18px;
    border-radius: 6px;
}

.AddBook {
    background-color: #4aa84d; 
    color: white;
}

.FindBook {
    background-color: #2196F3; 
    color: white;
}

.AddBook:hover {
    background-color: #45a049;
}

.FindBook:hover {
    background-color: #0b7dda;
}
