body {
    padding: 30px 70px;
    background-color: #2c4b5a85;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #312f2f;
    color: white;
    font-size: 20px;
    padding: 10px 5px;
    text-align: left;
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}

.hidden {
    display: none;
}

input {
    padding: 5px;
    margin: 3px 0;
}


#addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

#addForm input {
    width: 650px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}

#addForm button {
    width: 650px;
    padding: 15px;
    font-size: 16px;
    background-color: #0a7a62;
    color: #fff;
    border: none;
    border-radius: 15px;
}

#addForm button:hover {
    background-color: #085c4a;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#addButton {
    font-size: 16px;
    height: 50px;
    width: 230px;
    background-color: #04a17f;
    color: white;
    border: none;
    border-radius: 30px;
}

#addButton:hover {
    background-color: #037c62;
}

.deleteButton{
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#910f00 ;
  color: white;
  border: none;
  border-radius: 30px;
}

.deleteButton:hover{
  background-color:#690c01 ;
}

th.sortable:hover{
    background-color: rgba(68, 67, 67, 0.664);
}