.experience-info {
    display: flex;
    flex-direction: column;
    width: 411px;
}

.experience-info_list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info_list-item {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background: white;
    box-sizing: border-box;
    color: black;
}

.experience-info_list-item.selected {
    background-color: #28D979;
    color: #EBF9F2;
}

.experience-info_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.experience-info_period {
    font-size: 8px;
    line-height: 150%;
    font-weight: 500;
}

.experience-info_label {
    font-size: 8px;
    line-height: 155%;
    color: #DDF163;
    padding: 2px 6px;
    border-radius: 59px;
    background-color: #7E731266;
}

.experience-info_content {
    display: flex;
    flex-direction: row;
}

.experience-info_job {
    display: flex;
    flex-direction: column;
}

.experience-info_job-speciality {
    font-size: 10px;
    line-height: 150%;
    font-weight: 500;
    width: 124px;
}

.experience-info_job-bottom {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 8px;
}

.experience-info_job-name,
.experience-info_job-time {
    font-size: 8px;
    line-height: 150%;
}

.experience-info_responsibility-list {
    width: 239px;
    margin-left: -20px;
}

.experience-info_responsibility-list_item {
    font-size: 8px;
    line-height: 150%;
    font-weight: 400;
}