.Intereset-Contact-info{
    width: 267px;
}

.Interests-info{
    height: 177px;
}

.interest-info-header{
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.interest-info_list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

.interest-info_list-item{
    background-color: white;
    padding: 4px 10px;
    border-radius: 40px;
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
}