@font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(./fonts/InterRegular.ttf);
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url(./fonts/InterBold.ttf);
}

html{
    font-family: Inter;
    font-weight: 400;
}

.container{
    background-color: #6600FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-app{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 380px;
    height: 530px;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
}

body,
p{
    margin: 0px;
}

.location-bar{
    height: 44px;
    display: flex;
}

.location-button{
    height: 100%;
    width: 44px;
    border: 1px solid #00000066;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.location-button:hover{
    background-color: rgb(161, 161, 161);
}

.location-input{
   border: 1px solid #00000066;
   border-radius: 10px; 
   height: 100%;
   flex-grow: 1;
   padding: 12px 15px;
   box-sizing: border-box;
}

.current-weather{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.current-weather-icon{
    width: 220px;
    height: 220px;
}

.current-weather-temperature{
    font-size: 45px;
}

.current-weather-status{
    font-size: 25px;
}

.forecast{
    display: flex;
    gap:10px;
    overflow:auto;
}

.forecast-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.forecast-time{
    font-size: 15px;
    font-weight: bold;
}

.forecast-icon{
    height: 40px;
    width: 40px;
}

.forecast-temperature{
    font-size: 15px;
}